.gallery {
  max-width: 1375px;
  margin: 0 auto;
  padding: 0px 15px;
  -webkit-box-sizing: content-box;
  box-sizing: content-box;
  &__container {
    margin: 100px 0px;
    padding: 0px 15px;
  }
  &__body {
    display: grid;
  }
  &__title {
    @include text1();
    font-size: rem(65);
    margin-bottom: 50px;
  }
}
.gallery__wrapp {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-auto-columns: 1fr;
  gap: 10px;
}
.ml {
}
