.header {
  background-color: #fff;
  &__container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 auto;
    padding: 0px 15px;
    margin-top: 30px;
  }
}
.menu {
  display: flex;
  &__body {
    display: flex;
    gap: 60px;
  }
  &__list {
    display: flex;
    gap: 45px;
  }
  &__link {
    color: #222;
    font-size: rem(18);
    &:hover {
      text-decoration: underline;
      color: $mainColor;
    }
  }
  &__lang__button {
    font-size: rem(18);
  }
}
.english {
  color: $mainColor;
}
.dutch {
  color: rgba(51, 51, 51, 0.6);
}

/*--------------------------------------------------*/
.hamburger {
  display: none;
}
.bar {
  display: block;
  width: 25px;
  height: 3px;
  margin: 5px auto;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  background-color: #4b321d;
}
@media only screen and (max-width: 800px) {
  .menu__link {
    font-size: rem(36);
  }
  .menu__body {
    justify-content: space-between;
    align-items: center;
    flex-direction: row-reverse;
  }
  .header {
    position: fixed;
    width: 100%;
    z-index: 9999;
  }
  .header__languages,
  .header__logo {
    z-index: 9999;
  }
  .menu__list {
    row-gap: 50px;
    z-index: 9998;
    position: fixed;
    left: -100%;
    top: 0rem;
    width: 100%;
    height: 100%;
    flex-direction: column;
    background-color: #f1f1eb;
    justify-content: center;
    text-align: center;
    transition: all 0.3s ease 0s;
  }
  .menu__list.active {
    left: 0;
  }

  .menu__item {
    margin: 2rem 0;
  }

  .hamburger {
    margin-left: -30px;

    z-index: 9999;
    display: block;
    cursor: pointer;
  }
  .hamburger.active .bar:nth-child(2) {
    opacity: 0;
  }

  .hamburger.active .bar:nth-child(1) {
    transform: translateY(8px) rotate(45deg);
  }

  .hamburger.active .bar:nth-child(3) {
    transform: translateY(-8px) rotate(-45deg);
  }
}
