.button {
  cursor: pointer;

  border-radius: 10px;
  padding: 15px 70px;

  &__link {
    color: $mainColor;
  }

  display: inline-block;
}

._stroke {
  transition: 0.4s ease-in;
  color: $mainText;
  border-radius: 10px;
  padding: 15px 30px;
  border: 1px solid #222;
}

.itm {
  position: relative;
  display: inline-block;
  overflow: hidden;
  font-family: sans-serif;
  color: #222;
  text-decoration: none;
}

.itm span {
  position: absolute;
  left: 0;
  display: block;
  overflow: hidden;
  width: 0;
  height: 100%;
  backface-visibility: hidden;
  background-color: transparent;
  transition: width 0.5s;
}

.itm span::before {
  content: attr(data-text);
  position: absolute;
  right: 0;
  display: block;
  width: 100%;
  color: #480606;
  backface-visibility: hidden;
}

.itm:hover span {
  width: 100%;
  transition: width 0.5s;
}
